# Unity generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
MemoryCaptures/
Recordings/

# IDE
.vs/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.csproj
*.sln
*.suo
*.tmp
*.user
*.userprefs

# OS
.DS_Store
Thumbs.db

# Unity crash reports
sysinfo.txt

# Build artifacts
*.apk
*.aab
*.unitypackage
